.frontPageButtons{
	width: 200px;
	text-align: center;
	padding-top: 14px;
	padding-bottom: 14px;
	border-radius: 3px;
	float: left;
	background-color: #D50000;
	text-decoration: none;
	color: #D5B83C;
	margin-left: 40px;
}

.container{
	width: 1000px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	background-color: white;
	border-radius: 6px;
}

#pageBanner{
	margin-left: 5px;
}

body{
	background-image:url('../Images/indexBackground.jpg');
}

#tutorialSection{
	margin-top: 7em;
}

.tutorial{
	padding: 1em;
	margin: 1em;
	background-color:#E9E9E9;
	border-radius: 6px;
	border-color: #D8B83C;
	border-width: 2px;
	border-style: solid;
}

.historyArea{
	width: 400px;
}

.mealHistorySelect{
	width: 380px;
}

.DisplayOrder{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

